<div class="container" ng-controller="DirectiveCtrl as directiveCtrl">
    <div class="row" style="margin-top: 40px;">
        <span class="header-h1">Lesson 9: Understanding AngularJS Directives</span>
    </div>
    <div class="row violet-dashed-border"></div>
    
    <div class="row" style="margin-top: 30px;">
        <span class="header-h2">AngularJS Directives</span>
    </div>
    <div class="row violet-dashed-border"></div>
    
    <div class="row add-padding">
        <div class="col-xs-2">
            <strong>Ng-Click: </strong>
        </div>
        <div class="col-xs-4">
        <button type="button" class="btn btn-equens" ng-click="directiveCtrl.addClick()">Click Me: {{directiveCtrl.clickCount}}</button>
        </div>
    </div>
    
    <div class="row add-padding">
        <div class="col-xs-2">
            <strong>Ng-Class: </strong>
        </div>
        <div class="col-xs-5">
            <button type="button" class="btn" 
                    ng-class="directiveCtrl.isChangeColor ? 'btn-equens' : ''" 
                    ng-click="directiveCtrl.changeColor()">
                Change Button Color
            </button>
        </div>
    </div>
    
    <div class="row add-padding">
        <div class="col-xs-2">
            <strong>Ng-Change: </strong>
        </div>
        <div class="col-xs-2">
            <select class="input-sm form-control" 
                    ng-model="directiveCtrl.changeDropdown" 
                    ng-init="directiveCtrl.changeDropdown='No Color'"
                    ng-change="directiveCtrl.changeTextColor(directiveCtrl.changeDropdown)">
                <option>No Color</option>
                <option value="blue">Change to: Blue</option>
                <option value="red">Change to: Red</option>
            </select>
        </div>
        <div class="col-xs-2">
            <span class="{{directiveCtrl.changedClass}}">Text to Modify</span>
        </div>
    </div>
    
    <div class="row add-padding">
        <div class="col-xs-2">
            <strong>Ng-Hide/Show: </strong>
        </div>
        <div class="col-xs-2">
            <button type="button" class="btn btn-link" 
                    ng-click="directiveCtrl.hideText()">Click to {{directiveCtrl.isHidden ? 'Show' : 'Hide'}}</button>
        </div>
        <div class="col-xs-2">
            <span ng-hide="directiveCtrl.isHidden">Hidden Text</span>
        </div>
    </div>
    
    <div class="row" style="margin-top: 30px;">
        <span class="header-h2">Custom Directives</span>
    </div>
    <div class="row violet-dashed-border"></div>
    
    <div class="row add-padding">
        <span class="header-h3"><strong>Not an Isolated Scope: </strong></span> <date-timer></date-timer> 
    </div>
    
    <div class="row add-padding">
        <span class="header-h3"><strong>Isolated Scope: </strong></span> <isolated-date-timer date-timer="dateTimer"></isolated-date-timer> 
    </div>
</div>