<div class="row">
    <form class="add-padding">
        <div class="row">
            <div class="col-xs-4">
                <strong>Artist Name: </strong>
            </div>
            <div class="col-xs-6">
                <input type="text" readonly class="input-sm form-control" ng-model="form.artistName" />
            </div>
        </div>
        
        <div class="row form-padding">
            <div class="col-xs-4">
                <strong>Album Name: </strong>
            </div>
            <div class="col-xs-6">
                <input type="text" readonly class="input-sm form-control" ng-model="form.albumName" />
            </div>
        </div>
        
        <div class="row form-padding">
            <div class="col-xs-4">
                <strong>Year Released: </strong>
            </div>
            <div class="col-xs-6">
                <input type="text" readonly class="input-sm form-control" ng-model="form.yearRelease" />
            </div>
        </div>
        <div class="row form-padding">
            <div class="col-xs-4">
                <strong>Genre: </strong>
            </div>
            <div class="col-xs-6">
                <input type="text" readonly class="input-sm form-control" ng-model="form.mainGenre" />
            </div>
        </div>
        
        <div class="row form-padding">
            <div class="col-xs-4">
                <strong>Other Genre: </strong>
            </div>
            <div class="col-xs-6">
                <textarea type="text" readonly class="input-sm form-control" rows="5" ng-model="form.subGenre">
                </textarea>
            </div>
        </div>
    </form>
    <div class="row add-padding">
        <div class="col-xs-10">
        <div class="panel panel-default">
            <div class="panel-heading panel-equens">
                <h3 class="panel-title">Related Artists</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="relatedArtist in relatedArtists">{{relatedArtist}}</li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>